@charset "UTF-8";
/* Reseteo CSS */
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  border: none;
  outline: none; }

/* Fuentes */
/* Fuentes */
h2, p, h3, h4, a {
  font-family: 'Lexend', sans-serif; }

/* Colores */
/* Colores */
/* Index */
/* Grilla Index */
.grilla {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 90px 0.4fr 0.4fr 0.3fr 0.3fr 0.3fr 0.3fr 0.4fr 0.3fr 0.5fr 0.15fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "header header header header header header" "homeBanner homeBanner homeBanner homeBanner homeBanner homeBanner" "homeBanner homeBanner homeBanner homeBanner homeBanner homeBanner" "diseñoProposito diseñoProposito diseñoProposito diseñoProposito diseñoProposito diseñoProposito" "img1 img1 img2 img2 img3 img3" "img1 img1 img2 img2 img3 img3" "img4 img5 img5 img6 img6 boton" "img4 img5 img5 img6 img6 boton" "diseñoSomos diseñoSomos diseñoSomos diseñoSomos diseñoSomos diseñoSomos" "bannerArboles bannerArboles bannerArboles bannerArboles bannerArboles bannerArboles" "footer footer footer footer footer footer"; }

/* Header */
.header {
  grid-area: header;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 20px; }
  .header .navFlex {
    display: flex;
    align-items: center; }
  .header .headerLogo {
    display: flex;
    align-items: center; }
  .header .headerMenu {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between; }
  .header .linkHeaderMenu {
    padding-left: 20px;
    padding-right: 20px;
    font-size: 15px;
    text-align: right;
    font-weight: 200;
    color: #2B2D42; }
  .header .linkHeaderMenu:hover {
    font-weight: 500;
    color: #92DCE5;
    text-decoration: underline; }

/* BannerHome */
.homeBanner {
  grid-area: homeBanner;
  background-color: blue; }
  .homeBanner .imgBannerPrincipal {
    width: 100%; }

/* Diseño con proposito y Somos lo que diseñamos */
.diseñoProposito {
  grid-area: diseñoProposito;
  background-color: #F7EC59;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center; }

.img1 {
  grid-area: img1;
  background-color: #92DCE5;
  margin-top: 10px; }

.img2 {
  grid-area: img2;
  background-color: #F8F7F9;
  margin-top: 10px; }

.img3 {
  grid-area: img3;
  background-color: #FF66D8;
  margin-top: 10px; }

.img4 {
  grid-area: img4;
  background-color: #F8F7F9;
  margin-top: 10px; }

.img5 {
  grid-area: img5;
  background-color: #92DCE5;
  margin-top: 10px; }

.img6 {
  grid-area: img6;
  background-color: #FF66D8;
  margin-top: 10px; }

.boton {
  grid-area: boton;
  background-color: #F8F7F9;
  margin-top: 10px;
  display: flex;
  align-items: center; }

.diseñoSomos {
  grid-area: diseñoSomos;
  background-color: #FF66D8;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center; }

/* Banner Arboles */
.bannerArboles {
  grid-area: bannerArboles;
  background-color: #92DCE5; }
  .bannerArboles .imgArboles {
    width: 100%; }

/* Footer */
.footer {
  grid-area: footer;
  font-weight: 100;
  font-size: 13px;
  background-color: #2B2D42;
  padding-left: 20px;
  color: #F8F7F9; }

/* Galeria de proyectos */
.imgGeneral {
  display: flex;
  align-items: center;
  justify-content: center; }

.segundaLineaBoton {
  font-size: 56px;
  text-align: left;
  font-weight: 900;
  color: #000000;
  line-height: 50px;
  position: absolute;
  left: 75%; }

.diseñoTitulo {
  font-family: 'Lexend', sans-serif;
  font-size: 56px;
  text-align: left;
  padding-left: 20px;
  line-height: 56px; }

.diseñoParrafo {
  font-family: 'Lexend', sans-serif;
  width: 40%;
  padding-left: 40px;
  text-align: right; }

/* Proyectos */
/* PAGINA PROYECTOS */
.grillaProyectos {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 90px 0.3fr 0.5fr 1fr 1fr 1fr 0.15fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "header header header" "tituloProyectos tituloProyectos tituloProyectos" "menuProyectos menuProyectos menuProyectos" "imgPro1 imgPro2 imgPro3" "imgPro4 imgPro5 imgPro6" "imgPro7 imgPro8 imgPro9" "footer footer footer"; }

.header {
  grid-area: header; }

.tituloProyectos {
  grid-area: tituloProyectos;
  font-family: 'Lexend', sans-serif;
  font-size: 36px;
  text-align: left;
  padding-left: 20px; }

.menuProyectos {
  grid-area: menuProyectos; }
  .menuProyectos .proyectosMenu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 2%;
    margin-top: 3%; }
  .menuProyectos .proyectoBoton {
    font-size: 17px;
    font-weight: 100;
    border: solid 1px #484747;
    padding: 9px;
    border-radius: 30px; }
  .menuProyectos .proyectoBoton:hover {
    background-color: #484747; }
  .menuProyectos .proyectoLink {
    color: #484747; }
  .menuProyectos .proyectoLink:hover {
    color: azure; }

.imgPro1 {
  grid-area: imgPro1;
  display: flex;
  justify-content: center;
  overflow: hidden;
  background-color: #92DCE5; }

.imgPro2 {
  grid-area: imgPro2;
  display: flex;
  justify-content: center;
  overflow: hidden;
  background-color: #2B2D42; }

.imgPro3 {
  grid-area: imgPro3;
  display: flex;
  justify-content: center;
  overflow: hidden;
  background-color: #FF66D8; }

.imgPro4 {
  grid-area: imgPro4;
  display: flex;
  justify-content: center;
  overflow: hidden;
  background-color: #2B2D42; }

.imgPro5 {
  grid-area: imgPro5;
  display: flex;
  justify-content: center;
  overflow: hidden;
  background-color: #FF66D8; }

.imgPro6 {
  grid-area: imgPro6;
  display: flex;
  justify-content: center;
  overflow: hidden;
  background-color: #92DCE5; }

.imgPro7 {
  grid-area: imgPro7;
  display: flex;
  justify-content: center;
  overflow: hidden;
  background-color: #FF66D8; }

.imgPro8 {
  grid-area: imgPro8;
  display: flex;
  justify-content: center;
  overflow: hidden;
  background-color: #92DCE5; }

.imgPro9 {
  grid-area: imgPro9;
  display: flex;
  justify-content: center;
  overflow: hidden;
  background-color: #2B2D42; }

.footer {
  grid-area: footer; }

/* Nosotros */
/* MAPS + EACH */
.card1 {
  color: #92DCE5; }

.card2 {
  color: #FF66D8; }

.card3 {
  color: #2B2D42; }

.card4 {
  color: #92DCE5; }

/* Grilla Nosotrxs */
.grillaNosotrxs {
  display: grid;
  grid-template-columns: 0.3fr 1fr 1fr 1fr 1fr 0.3fr;
  grid-template-rows: 90px 1fr 1fr 1fr 1fr 1fr 1fr 0.15fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "header header header header header header" "Banner-Nosotrxs Banner-Nosotrxs Banner-Nosotrxs Banner-Nosotrxs Banner-Nosotrxs Banner-Nosotrxs" "Banner-Nosotrxs Banner-Nosotrxs Banner-Nosotrxs Banner-Nosotrxs Banner-Nosotrxs Banner-Nosotrxs" ". card1 card1 card2 card2 ." ". card1 card1 card2 card2 ." ". card3 card3 card4 card4 ." ". card3 card3 card4 card4 ." "footerNosotrxs footerNosotrxs footerNosotrxs footerNosotrxs footerNosotrxs footerNosotrxs"; }

.header {
  grid-area: header; }

.Banner-Nosotrxs {
  grid-area: Banner-Nosotrxs; }
  .Banner-Nosotrxs .nosotrosBanner {
    width: 100%; }

.card1 {
  grid-area: card1;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5%; }

.card2 {
  grid-area: card2;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5%; }

.card3 {
  grid-area: card3;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 8%; }

.card4 {
  grid-area: card4;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 8%; }

.footerNosotrxs {
  grid-area: footerNosotrxs; }
  .footerNosotrxs .footerNos {
    grid-area: footer;
    font-weight: 100;
    font-size: 13px;
    background-color: #2B2D42;
    padding-left: 20px;
    color: #F8F7F9; }

/* Cards */
.nosotrosCardImg {
  width: 25%; }

.nosotrosCardTitulo {
  font-size: 32px;
  text-align: center; }

.nosotrosCardTxt {
  padding-top: 3%;
  font-size: 14px;
  text-align: center;
  width: 85%; }

/* Hablemos */
/* Grilla Hablemos */
.grillaHablemos {
  display: grid;
  grid-template-columns: 0.1fr 1fr 1fr 0.1fr;
  grid-template-rows: 90px 0.2fr 1fr 0.15fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "header header header header" ". hablemosTxt contactos ." "bannerHablemos bannerHablemos bannerHablemos bannerHablemos" "footer footer footer footer"; }

.header {
  grid-area: header; }

.hablemosTxt {
  grid-area: hablemosTxt;
  background-color: yellow;
  flex-wrap: wrap;
  text-align: left;
  padding-top: 5%; }
  .hablemosTxt .hablemosTitulo {
    font-size: 56px;
    text-align: left;
    line-height: 56px; }
  .hablemosTxt .hablemosParrafo {
    display: block;
    width: 60%;
    text-align: left; }

.contactos {
  grid-area: contactos;
  padding-left: 5%; }
  .contactos .contactosFila1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 10%; }
  .contactos .contactosFila2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 1%; }
  .contactos .contactosTxt {
    padding-left: 1%;
    font-size: 25px; }

.bannerHablemos {
  grid-area: bannerHablemos; }
  .bannerHablemos .hablemosBanner {
    width: 100%;
    padding-top: 3%; }

.footer {
  grid-area: footer; }

/* MEDIA QUERYS */
/* Extra Chico */
@media (max-width: 399px) and (min-width: 1px) {
  .grilla {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 90px 0.3fr 0.3fr 1fr 1fr 1fr 1fr 1fr 1fr 0.3fr 1fr 0.5fr 0.5fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas: "header" "homeBanner" "homeBanner" "diseñoProposito" "img1" "img2" "img3" "img5" "img6" "boton" "diseñoSomos" "bannerArboles" "footer"; }
  .header {
    grid-area: header;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2%;
    margin-bottom: 3%; }
  .diseñoProposito {
    grid-area: diseñoProposito;
    background-color: yellow;
    display: flex;
    flex-direction: column; }
  .diseñoTitulo {
    font-family: 'Lexend', sans-serif;
    font-size: 56px;
    text-align: center;
    line-height: 56px;
    padding-top: 5%; }
  .diseñoParrafo {
    font-family: 'Lexend', sans-serif;
    width: 40%;
    text-align: center;
    width: 90%;
    padding-top: 5%; }
  .segundaLineaBoton {
    font-size: 30px;
    text-align: center;
    font-weight: 900;
    color: #000000;
    line-height: 30px; }
  /* PAGINA PROYECTOS */
  .grillaProyectos {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 90px 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 0.5fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas: "header" "tituloProyectos" "menuProyectos" "imgPro1" "imgPro2" "imgPro3" "imgPro4" "imgPro5" "imgPro6" "imgPro7" "imgPro8" "imgPro9" "footer"; }
  .proyectosMenu {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 2%;
    margin-top: 3%; }
  .proyectoBoton {
    font-size: 12px;
    font-weight: 100;
    border: solid 1px #484747;
    padding: 9px;
    border-radius: 30px;
    margin: 4px; }
  .grillaProyectos {
    grid-template-rows: 110px 0.3fr 0.5fr 1fr 1fr 1fr 0.15fr; }
  /* Nosotros */
  .grillaNosotrxs {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 90px 0.25fr 1fr 1fr 1fr 1fr 0.5fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas: "header" "Banner-Nosotrxs" "card1" "card2" "card3" "card4" "footerNosotrxs"; }
  .card1 {
    grid-area: card1;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 8%; }
  .card2 {
    grid-area: card2;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 8%; }
  .nosotrosCardImg {
    width: 20%; }
  .nosotrosCardTitulo {
    font-size: 25px;
    text-align: center; }
  /* Hablemos */
  .grillaHablemos {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 90px 1fr 1fr 1.5fr 0.5fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas: "header" "hablemosTxt" "contactos" "bannerHablemos" "footer"; }
  .contactosFila1 {
    padding-top: 5%; }
  .contactosFila2 {
    padding-top: 1%; }
  .hablemosTitulo {
    padding-left: 3%; }
  .hablemosParrafo {
    padding-left: 3%; } }

/* Chico */
@media (max-width: 768px) and (min-width: 400px) {
  .grilla {
    grid-template-rows: 110px 0.5fr 0.19fr 0.2fr 0.3fr 0.3fr 0.3fr 0.4fr 0.3fr 0.5fr 0.15fr; }
  .header {
    grid-area: header;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2%;
    margin-bottom: 3%; }
  .diseñoProposito {
    grid-area: diseñoProposito;
    background-color: yellow;
    display: flex;
    flex-direction: column; }
  .diseñoTitulo {
    font-family: 'Lexend', sans-serif;
    font-size: 56px;
    text-align: center;
    line-height: 56px;
    padding-top: 5%; }
  .diseñoParrafo {
    font-family: 'Lexend', sans-serif;
    width: 40%;
    text-align: center;
    width: 90%;
    padding-top: 5%; }
  .segundaLineaBoton {
    font-size: 30px;
    text-align: left;
    font-weight: 900;
    color: #000000;
    line-height: 30px;
    position: absolute;
    left: 55%; }
  /* PAGINA PROYECTOS */
  .proyectosMenu {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 2%;
    margin-top: 3%; }
  .proyectoBoton {
    font-size: 12px;
    font-weight: 100;
    border: solid 1px #484747;
    padding: 9px;
    border-radius: 30px;
    margin: 4px; }
  .grillaProyectos {
    grid-template-rows: 110px 0.3fr 0.5fr 1fr 1fr 1fr 0.15fr; }
  /* Nosotros */
  .grillaNosotrxs {
    grid-template-rows: 110px 0.7fr 0.28fr 1fr 1fr 1fr 1fr 0.15fr; }
  .card1 {
    grid-area: card1;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 8%; }
  .card2 {
    grid-area: card2;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 8%; }
  .nosotrosCardImg {
    width: 40%; }
  .nosotrosCardTitulo {
    font-size: 25px;
    text-align: center; }
  /* Hablemos */
  .grillaHablemos {
    display: grid;
    grid-template-columns: 0.1fr 1fr 1fr 0.1fr;
    grid-template-rows: 110px 0.6fr 0.4fr 1fr 0.15fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas: "header header header header" "hablemosTxt hablemosTxt hablemosTxt hablemosTxt" "contactos contactos contactos contactos" "bannerHablemos bannerHablemos bannerHablemos bannerHablemos" "footer footer footer footer"; }
  .contactosFila1 {
    padding-top: 5%; }
  .contactosFila2 {
    padding-top: 1%; }
  .hablemosTitulo {
    padding-left: 3%; }
  .hablemosParrafo {
    padding-left: 3%; } }

/* Mediano */
@media (max-width: 992px) and (min-width: 769px) {
  /* Index */
  .segundaLineaBoton {
    font-size: 56px;
    text-align: left;
    font-weight: 900;
    color: #000000;
    line-height: 50px;
    position: absolute;
    left: 60%; }
  /* Nosotrxs */
  .grillaNosotrxs {
    grid-template-rows: 90px 0.4fr 1fr 1fr 1fr 1fr 1fr 0.15fr; }
  .grillaHablemos {
    display: grid;
    grid-template-columns: 0.1fr 1fr 1fr 0.1fr;
    grid-template-rows: 90px 0.6fr 0.4fr 1fr 0.15fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas: "header header header header" "hablemosTxt hablemosTxt hablemosTxt hablemosTxt" "contactos contactos contactos contactos" "bannerHablemos bannerHablemos bannerHablemos bannerHablemos" "footer footer footer footer"; }
  .contactosFila1 {
    padding-top: 5%; }
  .contactosFila2 {
    padding-top: 1%; }
  .hablemosTitulo {
    padding-left: 3%; }
  .hablemosParrafo {
    padding-left: 3%; }
  /* Proyectos */
  .proyectoBoton {
    font-size: 13px;
    font-weight: 100;
    border: solid 1px #484747;
    padding: 9px;
    border-radius: 30px; } }

/* Grande */
@media (max-width: 1200px) and (min-width: 993px) {
  /* Index */
  .grilla {
    grid-template-rows: 90px 0.4fr 0.4fr 0.6fr 0.3fr 0.3fr 0.3fr 0.4fr 0.6fr 0.5fr 0.15fr; }
  .segundaLineaBoton {
    font-size: 56px;
    text-align: left;
    font-weight: 900;
    color: #000000;
    line-height: 50px;
    position: absolute;
    left: 70%; } }
