/* Fuentes */
h2 {
    font-family: 'Lexend', sans-serif;
}

p {
    font-family: 'Lexend', sans-serif;
}

h3 {
    font-family: 'Lexend', sans-serif;
}

h4 {
    font-family: 'Lexend', sans-serif;
}

a {
    font-family: 'Lexend', sans-serif;
}