@media (max-width:1200px) and (min-width: 993px) {

    /* Index */
    .grilla {
        grid-template-rows: 90px 0.4fr 0.4fr 0.6fr 0.3fr 0.3fr 0.3fr 0.4fr 0.6fr 0.5fr 0.15fr;
    }

    .segundaLineaBoton {
        font-size: 56px;
        text-align: left;
        font-weight: 900;
        color: #000000;
        line-height: 50px;
        position: absolute;
        left: 70%;
    }

}