@mixin galeria($color){
    display: flex;
    justify-content: center;
    overflow: hidden;
    background-color: $color;
}



/* PAGINA PROYECTOS */
.grillaProyectos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 90px 0.3fr 0.5fr 1fr 1fr 1fr 0.15fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "header header header"
        "tituloProyectos tituloProyectos tituloProyectos"
        "menuProyectos menuProyectos menuProyectos"
        "imgPro1 imgPro2 imgPro3"
        "imgPro4 imgPro5 imgPro6"
        "imgPro7 imgPro8 imgPro9"
        "footer footer footer";
}

.header {
    grid-area: header;
}

.tituloProyectos {
    grid-area: tituloProyectos;
    font-family: 'Lexend', sans-serif;
    font-size: 36px;
    text-align: left;
    padding-left: 20px;
}

.menuProyectos {
    grid-area: menuProyectos;
    .proyectosMenu {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin-bottom: 2%;
        margin-top: 3%;
    }
    
    .proyectoBoton {
        font-size: 17px;
        font-weight: 100;
        border: solid 1px #484747;
        padding: 9px;
        border-radius: 30px;
    }
    
    .proyectoBoton:hover {
        background-color: #484747;
    }
    
    .proyectoLink {
        color: #484747;
    }
    
    .proyectoLink:hover {
        color: azure;
    }
}

.imgPro1 {
    grid-area: imgPro1;
    @include galeria($Cian)
}

.imgPro2 {
    grid-area: imgPro2;
    @include galeria($Azul)
}

.imgPro3 {
    grid-area: imgPro3;
    @include galeria($Rosa)
}

.imgPro4 {
    grid-area: imgPro4;
    @include galeria($Azul)
}

.imgPro5 {
    grid-area: imgPro5;
    @include galeria($Rosa)
}

.imgPro6 {
    grid-area: imgPro6;
    @include galeria($Cian)
}

.imgPro7 {
    grid-area: imgPro7;
    @include galeria($Rosa)

}

.imgPro8 {
    grid-area: imgPro8;
    @include galeria($Cian)
}

.imgPro9 {
    grid-area: imgPro9;
    @include galeria($Azul)
}

.footer {
    grid-area: footer;
}
